<div *ngIf="hero">
    <h2>{{hero.FirstName}}</h2>
    <div>
        First Name:
        <input [(ngModel)]="hero.FirstName" placeholder="Location" />
    </div>
    <div>
        Last Name:
        <input [(ngModel)]="hero.LastName" placeholder="Location" />
    </div>
    <div>
        Location:
        <input [(ngModel)]="hero.Location" placeholder="Location" />
    </div>
    <button (click)="updateHero(hero)" *ngIf="hero.Id">Save</button>
    <button (click)="deleteHero(hero)" *ngIf="hero.Id">Delete</button>
    <button (click)="createHero(hero)" *ngIf="!hero.Id">Create</button>
</div>
